body {
	height: 100vh;
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
}

h1 {
	font-size: 40px;
	margin: 10px;
}

h2 {
	margin: 5px;
}

p {
	margin: 5px;
	display: inline-block;
}

#display {
    border: 1px solid black;
}

#timer {
	display: inline-block;
}

#ampm {
	display: inline-block;
}

.item {
	width: 300px;
	display: inline-block;
}